.banner {
  position: relative;
  color: white;
  object-fit: contain;
}

.banner-dark-shade {
  background-image: linear-gradient(
    270deg,
    transparent,
    rgba(37, 37, 37, 0.4) 30%,
    #111
  );
}

.banner_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  height: 60vh;
  /* filter: brightness(90%); */
  text-shadow: 2px 2px 5px #111;
}
.banner_title {
  display: flex;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_title img {
  opacity: 0.9;
  margin-left: 15px;
  height: 10vh;
  box-shadow: 4px 4px 5px #111;
}
.banner_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  line-height: 1.3;
  padding: 1rem;
  font-size: 1.5rem;
  
  position: relative;
  /* max-width: 360px; */
  height: auto;
}

.banner_info {
  visibility: hidden;
  position: absolute;
  top: 20vh;
  font-size: 0.8rem;
  transition: 0.6s all ease-in-out;
}

.banner:hover .banner_info {
  font-size: 1rem;
  visibility: visible;
}

.typing {
  text-shadow: 2px 2px 5px #111;
  position: relative;
  color: rgb(255, 11, 11);
  font-weight: 700;
  font-size: 2rem;
}

.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 2px solid white;
  animation: blink 0.3s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner_fadeBottom {
  height: 6.6rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
