.myList {
  color: white;
  margin-top: 10vh;
}

.myList-title {
  display: inline-block;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(15, 15, 15) 70%,
    rgb(221, 12, 12)
  );
  padding: 10px;
  font-size: 1.5rem;
  width: 90%;
  margin-left: 50px;
  transition: 0.4s all ease;
}

.myList-movies {
  display: flex;
  flex-direction: column;
}

.myList-movie {
  display: flex;
  margin: 2vw 10vw;
  padding: 25px;
  text-decoration: none;
  transition: 0.4s all ease;
}

.myList-movie:hover {
  background-color: rgb(41, 41, 41);
}

.myList-movie-image {
  flex: 1;
  height: 35vh;
  padding: 10px;
}

.myList-movie-right-col {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  flex: 6;
  padding: 20px;
}

.myList-movie-title {
  color: white;
}

.myList-movie-rating {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  width: 5%;
  margin-top: 1vh;
  justify-content: space-between;
}

.myList-movie-description {
  font-size: 1rem;
}

.myList-movie-link {
  display: flex;
  color: white;
  text-decoration: none;
  margin-top: 0.5vh;
  font-size: 1rem;
  transition: 1s all ease-in-out;
}

.arrow-forward {
  margin-left: 10px;
  visibility: hidden;
  transition: 1s all ease;
}

.myList-movie-link:hover .arrow-forward {
  visibility: visible;
}

.remove-from-watchlist {
  display: flex;
  align-items: center;
  width: 15vw;
  justify-content: space-around;
  margin: 1vw 0px;
  padding: 0.5vw;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: rgb(59, 59, 59);
  cursor: pointer;
}
