.row {
  width: 100%;
  margin-top: 30px;
}

.row-title {
  display: inline-block;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(15, 15, 15) var(--redGradient),
    rgb(221, 12, 12)
  );
  padding: 5px;
  margin: 10px;
  width: 90%;
  margin-left: 50px;
  transition: 0.4s all ease;
}

.circle-end {
  display: inline-block;
  margin-left: 20px;
  border-radius: 50%;
  transform: translateY(20%);
  height: 40px;
  width: 40px;
}

.row_posters {
  margin-left: 50px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
  scroll-behavior: smooth;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.poster-container {
  width: 200px;
}

.wrapper {
  position: relative;
}
.arrow {
  color: white;
  width: 50px !important;
  height: 100% !important;
  background-color: rgb(22, 22, 22, 0.5);
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
