.rowitem {
  min-width: 20vw;
  height: 30vh;
  background-color: #111;
  color: #fff;
  margin-right: 15px;
  position: relative;
  padding: 5px 0px;
  font-size: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
}

.large {
  height: 56vh;
}

.row_poster {
  height: 85%;
  object-fit: contain;
  width: 100%;
  transition: transform 450ms;
}

.row_posterLarge {
  height: 100%;
  object-fit: contain;
  overflow-y: visible !important;
}

.rowitem_name {
  /* background-color: var(--yellow);
  color: black;
  width: 80%;
  margin: auto; */
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
  font-size: 0.8rem;
  transition: 0.4s all ease-in;
}

.add {
  margin-left: 1vw;
}

.rowitem-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more_button {
  text-align: center;
  visibility: hidden;
  position: relative;
  bottom: 50%;
  font-size: 0.7rem;
  padding: 5px;
  transition: all 0.2s ease-in;
}

.rowitem:hover {
  transform: scale(1.08);
}
.rowitem:hover .row_poster {
  filter: brightness(25%);
}
.rowitem:hover .rowitem_name {
  color: darkgray;
}

.rowitem:hover .more_button {
  bottom: 53%;
  transform: translateY(-50%);
  visibility: visible;
}
